go 1.26.0

toolchain go1.26.2

use (
	./platform
	./services/auth-service
	./services/gateway
	./services/payment-service
	./services/referral-service
	./services/subscription-service
	./services/vpn-service
	./shared
)
